.card {
  width: 327px;
  height: 478px;
  margin: 0 auto 6.25rem;
  background-color: $white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .pageviews {
    padding: 38px 24px 32px;
    text-align: center;
    border-bottom: 1px solid $lightGrayishBlue1;

    &__title {
      margin-bottom: 1.625rem;
      font-size: 0.625rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__slider {
      width: 100%;
      margin-bottom: 1.9375rem;

      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 0.5rem;
        background: $lightGrayishBlue1;
        border-radius: 0.25rem;
        outline: none;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 2.5rem;
          height: 2.5rem;
          border: 0;
          border-radius: 50%;
          background: url("../images/icon-slider.svg") no-repeat;
          cursor: pointer;
          box-shadow: 0px 10px 20px rgba($color: $softCyan, $alpha: 1);
        }

        &::-moz-range-thumb {
          width: 2.5rem;
          height: 2.5rem;
          border: 0;
          border-radius: 50%;
          background: url("../images/icon-slider.svg") no-repeat center;
          background-color: $strongCyan;
          cursor: pointer;
          box-shadow: 0px 10px 20px rgba($color: $softCyan, $alpha: 1);
        }

        &::-moz-range-progress {
          height: 0.5rem;
          background: $softCyan;
          border-radius: 0.25rem;
        }
      }
    }

    &__price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;

      .price {
        margin-right: 0.5rem;
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 1.5;
        color: $darkDesaturatedBlue;
      }
    }

    &__subscription {
      .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 21px;

        input {
          opacity: 1;
          width: 0;
          height: 0;
        }

        .switcher {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 34px;
        }

        .switcher:before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          left: 0.1875rem;
          bottom: 0.1875rem;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }

        input:checked + .switcher {
          background: $strongCyan;
        }

        input:checked + .switcher::before {
          transform: translateX(1.25rem);
        }
      }
    }

    &__discount {
      padding: 0.125rem 0.5rem;
      background: $lightGrayishRed;
      color: $lightRed;
      font-size: 0.625rem;
      border-radius: 0.625rem;
      font-weight: 800;

      span {
        display: none;
      }
    }
  }

  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__list {
      text-align: center;

      ul {
        margin-top: 1.75rem;
        padding: 0;
        list-style: none;
        line-height: 2;

        li {
          &::before {
            content: url("../../images/icon-check.svg");
            margin-right: 1rem;
          }
        }
      }
    }

    &__cta {
    }
  }
}
