.card {
  width: 20.4375rem;
  margin: 0 auto;

  background-color: $white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @include breakpoint-up(medium) {
    width: 33.75rem;
    padding: 0 3rem 1rem;
  }

  .pageviews {
    padding: 2.375rem 1.5rem 2rem;
    text-align: center;
    border-bottom: 1px solid $lightGrayishBlue1;
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2.375rem 0 2rem;
    }

    &__title {
      margin-bottom: 1.625rem;
      font-size: 0.625rem;
      font-weight: 800;
      text-transform: uppercase;

      @include breakpoint-up(large) {
        flex-grow: 1;
        order: 1;
        margin-bottom: 2rem;
        font-size: 1rem;
        text-align: left;
      }
    }

    &__slider {
      width: 100%;
      margin-bottom: 1.9375rem;

      @include breakpoint-up(large) {
        order: 3;
      }

      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 0.5rem;
        background: $lightGrayishBlue1;
        border-radius: 0.25rem;
        outline: none;

        &::-ms-fill-lower {
          background-color: hsl(174, 77%, 80%);
          border-radius: 50px;
          height: 8px;
          outline: none;
        }

        &::-webkit-slider-thumb {
          // overflow: hidden;
          -webkit-appearance: none;
          appearance: none;
          width: 2.5rem;
          height: 2.5rem;
          border: 0;
          border-radius: 50%;
          background: url("../images/icon-slider.svg") no-repeat center;
          background-color: $strongCyan;
          cursor: pointer;
          box-shadow: 0px 10px 20px rgba($color: $softCyan, $alpha: 1);
          // box-shadow: -100vw 0 0 100vw #000;
        }

        &::-moz-range-thumb {
          width: 2.5rem;
          height: 2.5rem;
          border: 0;
          border-radius: 50%;
          background: url("../images/icon-slider.svg") no-repeat center;
          background-color: $strongCyan;
          cursor: pointer;
          box-shadow: 0px 10px 20px rgba($color: $softCyan, $alpha: 1);
        }

        &::-moz-range-progress {
          height: 0.5rem;
          background: $softCyan;
          border-radius: 0.25rem;
        }

        &:hover {
          &::-webkit-slider-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grab;
          }
          &::-moz-range-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grab;
          }
          &::-ms-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grab;
          }
        }

        &:active {
          &::-webkit-slider-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grabbing;
          }
          &::-moz-range-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grabbing;
          }
          &::-ms-thumb {
            background-color: hsl(173, 70%, 70%);
            cursor: grabbing;
          }
        }
      }
    }

    &__price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;

      @include breakpoint-up(large) {
        flex-grow: 1;
        order: 2;
        justify-content: end;
        margin-bottom: 2rem;
      }

      .price {
        margin-right: 0.5rem;
        font-size: 1.875rem;
        font-weight: 800;
        line-height: 1.5;
        color: $darkDesaturatedBlue;

        @include breakpoint-up(medium) {
          font-size: 2.25rem;
        }
      }
    }

    &__subscription {
      font-size: 0.75rem;
      @include breakpoint-up(large) {
        order: 4;
        margin: 0 auto;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 2.6875rem;
        height: 1.375rem;
        margin: 0 1rem;
        top: 0.125rem;
        transition: all 150ms ease-in-out;

        @include breakpoint-down(medium) {
          margin: 0 0.125rem;
        }

        &:hover {
          opacity: 0.8;
        }

        input {
          opacity: 1;
          width: 0;
          height: 0;
        }

        .switcher {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: all 150ms ease-in-out;
          border-radius: 2.125rem;
        }

        .switcher:before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          left: 0.1875rem;
          bottom: 0.1875rem;
          background-color: white;
          transition: all 150ms ease-in-out;
          border-radius: 50%;
        }

        input:checked + .switcher {
          background: $strongCyan;
        }

        input:checked + .switcher::before {
          transform: translateX(1.25rem);
        }
      }
    }

    &__discount {
      padding: 0.125rem 0.5rem;
      background: $lightGrayishRed;
      color: $lightRed;
      font-size: 0.625rem;
      border-radius: 0.625rem;
      font-weight: 800;

      span {
        display: none;

        @include breakpoint-up(medium) {
          display: inline;
        }
      }
    }
  }

  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    overflow: visible;

    @include breakpoint-up(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
    }
    &__list {
      text-align: center;

      @include breakpoint-up(medium) {
        text-align: left;
      }

      ul {
        padding: 0;
        padding-top: 1.75rem;
        list-style: none;
        line-height: 2;

        li {
          &::before {
            content: url("../../images/icon-check.svg");
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
