html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $veryPaleBlue;
  font-family: "Manrope", sans-serif;
  font-size: 0.9375rem;
  color: $grayishBlue;
}

// Text
h1 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 1.5rem;
}

.btn {
  padding: 1rem 2.875rem;
  font-weight: 800;
  color: $paleBlue;
  background-color: $darkDesaturatedBlue;
  border: none;
  outline: none;
  border-radius: 1.875rem;
  transition: all 150ms ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
