.intro {
  position: relative;
  width: 100%;
  text-align: center;

  &__background {
    position: absolute;
    height: 25rem;
    width: 100%;

    z-index: -1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 9.25rem;
      height: 9.25rem;
      background: url("../images/pattern-circles.svg") no-repeat;
      top: 3.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    padding-top: 94px;
    padding-bottom: 70px;
    h1 {
      margin-bottom: 0.75rem;
      color: $darkDesaturatedBlue;
      font-size: 1.3125rem;

      @include breakpoint-up(medium) {
        font-size: 1.875rem;
      }
    }

    p {
      margin: 0;
      color: $grayishBlue;
      font-size: 0.875rem;

      @include breakpoint-up(medium) {
        font-size: 1rem;
      }
    }
  }
}
